body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}


input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 4px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}
.see-info{
    
    display: flex;
    flex-direction: row;
    gap: 4em;
}

#seeData{
    background-color: aqua;
    border-radius: 0.6em;
    border: 2px solid #eee;
}

